body{
  background: #f8faf9; 
}
section {
  max-width: 1280px;
  margin: auto;
  padding: 12px;
}
.product-container {
  display: flex;
  gap: 40px;
  width: 1280px;
}

.product-view,
.product-info {
  margin-top: 24px;
  height: 700px;
  width: 100%;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.product-info {
  margin-bottom: 100px;
}

.product-view > img {
  width: 100%;
  border-radius: 12px;
}

.product-thumbnail {
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 12px;
}

.product-thumbnail img {
  width: 64px;
  height: 64px;
  border-radius: 12px;

}

.price-container {
  background: #eff6ff;
  border-radius: 12px;
  padding: 16px;
  height: 98px;
}

.brand-item {
  color: #6B7280;
}

.rating span:last-child {
  padding: 2px 8px;
  background-color: #F0FDF4;
  color: #00a63e;
  border-radius: 16777200px;
}

.price-tag {
  display: flex;
  gap: 12px;
  align-items: center;
}

.price-tag > p {
  text-decoration: line-through;
  color: #6B7280;
}

.price-tag span {
  background-color: #dc2626;
  color: #ffffff;
  border-radius: 20px;
  padding: 2px 8px;
}

.hemat {
  margin-top: 12px;
}
.hemat p {
  color: #00a63e;
}

.stock p {
  color: #6B7280;
  font-size: 14px;
}

button {
  border: 1px solid #0000001a;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #ffffff;
}

.favorite {
  width: 48px;
  height: 56px;
}

.counter-btn {
  margin-right: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.buyout {
  display: flex;
  align-items: center;
  gap: 12px;
}

.add-to-cart img {
  width: 12px;
  height: 12px;
}

.add-to-cart,
.checkout {
  padding: 14px 0;
}

.favorite img {
  width: 20px;
  height: 20px;
}

.add-to-cart {
  border: 2px solid #f97316;
  color: #f97316;
  background-color: #ffffff;
  width: 268px;
  height: 56px;
}

.checkout {
  border: 2px solid #f97316;
  background-color: #f97316;
  color: #ffffff;
  width: 268px;
  height: 56px;
}

.favourite {
  background-color: white;
}

.shop-feature {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.feature {
  width: 193.3333282470703px;
  padding: 10px;
  background: #e5e7eb80;
  border-radius: 8px;
}

.product-desc {
  width: 1280px;
  height: 131px;
  background-color: white;
  border-radius: 16px;
  padding-bottom: 24px;
}

.btn-group-desc {
  height: 55px;
}

.btn-desc {
  padding: 16px 24px;
  border-radius: 0;
  border: none;
  font-size: 14px;
  color: #6B7280;


}

.product-spec {
  padding: 16px 24px;
  display: inline;
  vertical-align: middle;
}

.product-spec p {
  padding-left: 16px;
  font-size: 16px;
  color: #6B7280;
}

body {
  background-color: #f8f9fb;
}
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

a {
  text-decoration: none;
  color: #6b7280;
  padding: 12px;
}

hr {
  border: none;
  height: 1px;
  background-color: #e5e7eb;
  margin: 16px 0;
  width: 100%;
}

.logout {
  color: red;
}

.container {
  max-width: 1728px;
  margin: 0 auto;
  padding: 40px 20px;

  display: grid;
  grid-template-columns: 280px 1fr;
}

.profile-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid lightblue;
  border-radius: 16px;
  background-color: white;
  padding: 24px;
}

.profile-stats {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.menu {
  width: 100%;
  border: 1px solid lightblue;
  border-radius: 16px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  padding: 24px;
}

.menu div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: white;
  width: 64px;
  height: 64px;
  background-color: #000080;
  border-radius: 50%;
}

.order-shipped,
.address-list {
  background-color: white;
  border: 1px solid lightblue;
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.order-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-status {
  padding: 4px 12px;
  background-color: lightgreen;
  border-radius: 12px;
  color: darkgreen;
}

.product-detail {
  display: flex;
  gap: 12px;
  align-items: center;
}

.product-detail img {
  width: 48px;
  height: 48px;
  border-radius: 8px;
}

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e5e7eb;
  padding-top: 8px;
}

.btn-action {
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 12px;
  border: none;
}

.track {
  border: 1px solid #1a73e8;
  background-color: white;
  color: #1a73e8;
}

.give-rating {
  background-color: #f97316;
  color: white;
  img {
    margin-right: 6px;
  }
}

.buy-more {
  background-color: #000080;
  color: white;
}

.btn-add-address {
  padding: 12px 24px;
  color: white;
  background-color: #1a73e8;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.btn-trash,
.btn-edit {
  border: none;
  background-color: white;
}

.address-status {
  padding: 4px 8px;
  background-color: #1a73e8;
  color: white;
  border-radius: 12px;
}

.btn-set-address {
  border: none;
  background-color: white;
  color: #1a73e8;
  margin-top: 12px;
  font-size: 16px;
  cursor: pointer;
}

.btn-save-profile {
  padding: 12px 24px;
  background-color: transparent;
  border: 1px solid #1a73e8;
  border-radius: 12px;
  color: #1a73e8;
  cursor: pointer;
}

.profile-form,
.account-security {
  background-color: white;
  padding: 24px;
  border: 1px solid lightblue;
  border-radius: 12px;
}

.profile-image button,
.account-security .security-link {
  border: none;
  color: #1a73e8;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  padding: 0;
  cursor: pointer;
}

.label-input label {
  font-size: 14px;
  font-weight: 500;
  color: #6b7280;
  width: max-content;
}

.label-input input {
  padding: 12px 16px;
  background-color: #f3f4f6;
  color: #111827;
  border-radius: 12px;
  border: 1px solid #0000001a;
  margin-top: 6px;
}

.account-security h4 {
  margin-bottom: 16px;
}

.wishlist-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  width: 100%;
  margin-top: 16px;
}

.item-col {
  border: 1px solid #0000001a;
  border-radius: 12px;
  overflow: hidden;
}

.item-thumbnail {
  width: 100%;
}

.item-thumbnail img {
  width: 100%;
  height: 298px;
  display: block;
  object-fit: cover;
}

.disc-icon {
  padding: 4px 8px;
  border-radius: 16777200px;
  top: 8px;
  left: 8px;
}

.item-description {
  padding: 12px;
}

.flash-deal-icon {
  padding: 6px 12px;
  border-radius: 8px;
  margin-right: 12px;
}

.item-thumbnail img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.disc-icon {
  padding: 4px 8px;
  border-radius: 16777200px;
  top: 8px;
  left: 8px;
}

.item-description {
  padding: 12px;
}

.related-product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  width: 100%;
  margin-top: 16px;
}

.item-col {
  border: 1px solid #0000001a;
  border-radius: 12px;
  overflow: hidden;
}

.item-thumbnail {
  width: 100%;
}

.item-thumbnail img {
  width: 100%;
  height: 298px;
  display: block;
  object-fit: cover;
}
