@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rancho&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

/* header,
nav,
section:not(.jumbo-carousel),
footer {
  padding: 16px 224px;
} */

.topbar,
.top-nav,
.btm-nav,
.top-footer,
.main-footer,
.footer-bottom {
  padding-inline: 224px;
}

.topbar {
  padding-block: 6px;
}

.top-nav {
  padding-block: 16px;
}

hr {
  /* margin: 0 -224px; */
  border: none;
  border-top: 1px solid #0000001a;
}

.hr-gray-dark {
  border-top: 1px solid #364153;
}

header {
  background: #1a73e8;
  color: #fff;
}

nav {
  white-space: nowrap;
}

nav div > a {
  text-decoration: none;
  color: #111827;
}

.icon-beli-mudah {
  margin-right: 24px;
}

.nav-items {
  list-style: none;
}

.nav-item {
  padding: 12px;
}

.nav-item button {
  border: none;
  background-color: transparent;
}

.icon {
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 30%;
  background: #1a73e8;
  color: white;
  margin-right: 8px;
}

.search-box {
  width: 50%;
}

.search-box input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #0000001a;
  background: #f3f4f6;
  font-size: 14px;
}

.search-box input::placeholder {
  color: #6b7280;
}

.floating-bubble-chat {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  border-radius: 50%;
  padding: 12px;
  border: none;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.floating-bubble-chat img {
  display: block;
  width: 24px;
  height: 24px;
}

footer {
  background: #111827;
}

.top-footer {
  padding-block: 32px;
}

.footer-benefit {
  width: 25%;
}

.main-footer {
  padding-block: 48px;
}

.footer-bottom {
  padding-block: 16px;
}

.benefit-icon {
  padding: 6px;
  background-color: #132b4e;
  border-radius: 100%;
}

.text-white {
  color: #fff;
}

.text-gray {
  color: #6b7280;
}

.text-gray-dark {
  color: #99a1af;
}

.text-blue {
  color: #1a73e8;
}

.promo {
  color: #dc2626;
}

.social-media-item {
  padding: 8px;
  border-radius: 50%;
  margin-right: 8px;
}

.subscribe-form {
  padding: 12px;
  background: #1e2939;
  border-radius: 8px;
  width: max-content;
}

.subscribe-input,
.subscribe-btn {
  border-radius: 6px;
  padding: 8px 12px;
  border: none;
}

.subscribe-input {
  border: 1px solid #4a5565;
}

.footer-column {
  width: 25%;
}

.topbar .right-content p,
.footer-bottom .footer-links a {
  margin-left: 16px;
  display: inline-block;
}

.table {
  display: table;
  width: 100%;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}

.cell-top {
  vertical-align: top;
}

.cell-middle {
  vertical-align: middle;
}

.cell-bottom {
  vertical-align: bottom;
}

.bg-white {
  background-color: #ffffff;
}

.bg-blue {
  background-color: #1a73e8;
}

.bg-gray {
  background-color: #364155;
}

.bg-red {
  background-color: #dc2626;
}

.d-inline-block {
  display: inline-block;
}

.d-inline {
  display: inline;
}

.d-block {
  display: block;
}

.v-middle {
  vertical-align: middle;
}

.v-top {
  vertical-align: top;
}

.text-decoration-none {
  text-decoration: none;
}

.text-decoration-line {
  text-decoration: line-through;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.list-none {
  list-style: none;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.right-0 {
  right: 0;
}

.top-0 {
  top: 0;
}

.w-max {
  width: max-content;
}

.w-20 {
  width: 20%;
}

.w-24 {
  width: 24%;
}

.w-25 {
  width: 25%;
}

.w-28 {
  width: 28%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.v-top {
  vertical-align: top;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-1 {
  gap: 0.25rem; /* 4px */
}

.gap-2 {
  gap: 0.5rem; /* 8px */
}

.gap-3 {
  gap: 0.75rem; /* 12px */
}

.gap-4 {
  gap: 1rem; /* 16px */
}

.gap-5 {
  gap: 1.25rem; /* 20px */
}

.gap-6 {
  gap: 1.5rem; /* 24px */
}

.gap-8 {
  gap: 2rem; /* 32px */
}
