* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Layout */

header {
  padding: 6px 224px;
  background: #1a73e8;
  color: #fff;
}

nav {
  padding: 16px 24px; 
  white-space: nowrap;
}

.topbar {
  width: 100%;
}

.call-center {
  margin-right: 20px;
}

.icon-beli-mudah {
  width: 20%;
  padding-right: 24px;
}

/* Navbar */

.btm-nav{
  text-align: center;

}

.nav-items {
  list-style: none; 
}

.nav-item {
  margin-left: 12px;
  padding: 12px;
}

.icon {
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 30%;
  background: #1a73e8;
  color: white;
  margin-right: 8px;
}

/* Search */

.search-box {
  width: 50%;
}

.search-box input {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #0000001a;
  background: #f3f4f6;
}

.search-box input::placeholder {
  color: #6b7280;
}

/* Footer */
footer {
  background: #111827;
  padding: 6px 224px;
}

.footer-benefit {
  width: 25%;
}

.benefit-icon {
  padding: 6px;
  background-color: #132b4e;
  border-radius: 100%;
}

/* Colors */

.text-white {
  color: #fff;
}

.text-gray {
  color: #6b7280;
}

.text-gray-dark {
  color: #99a1af;
}

.text-blue {
  color: #1a73e8;
}

.promo {
  color: #dc2626;
}

.social-media-item {
  padding: 8px;
  border-radius: 50%;
  margin-right: 8px;
}

.subscribe-form {
  padding: 12px;
  background: #1e2939;
  border-radius: 8px;
  width: max-content;
}

.subscribe-input,
.subscribe-btn {
  border-radius: 6px;
  padding: 8px 12px;
  border: none;
}

.subscribe-input {
  border: 1px solid #4a5565;
}

.footer-column {
  width: 25%;
}

/* Utility Classes */
.table {
  display: table;
  width: 100%;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}

.cell-top {
  vertical-align: top;
}

.cell-middle {
  vertical-align: middle;
}

.cell-bottom {
  vertical-align: bottom;
}

.bg-white {
  background-color: #ffffff;
}

.bg-blue {
  background-color: #1a73e8;
}

.bg-gray {
  background-color: #364155;
}

.d-inline-block {
  display: inline-block;
}

.d-inline {
  display: inline;
}

.d-block {
  display: block;
}

.v-middle {
  vertical-align: middle;
}

.v-top {
  vertical-align: top;
}

.text-decoration-none {
  text-decoration: none;
}

.text-right {
  text-align: right;
}

.list-none {
  list-style: none;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.right-0 {
  right: 0;
}

.top-0 {
  top: 0;
}

.w-max {
  width: max-content;
}

.w-20 {
  width: 20%;
}

.w-24 {
  width: 24%;
}

.w-25 {
  width: 25%;
}

.w-28 {
  width: 28%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.v-top {
  vertical-align: top;
}