* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  padding: 6px 224px;
  background: #1a73e8;
  color: #ffffff;
}

.topbar {
  position: relative;
  width: 100%;
}

.left-content {
  display: inline-block;

  img {
    width: 12px;
    height: 12px;
  }
}

.right-content {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}

.call-center {
  margin-right: 20px;
}

img {
  vertical-align: middle;
}

span {
  vertical-align: middle;
}

nav {
  padding: 16px 24px;
  white-space: nowrap;
}

.icon-beli-mudah,
.search-box,
.nav-items {
  display: inline-block;
  vertical-align: middle;
}

.icon-beli-mudah {
  width: 20%;
}

.search-box {
  width: 50%;
}

.search-box input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #0000001a;
  background-color: #f3f4f6;

  &::placeholder {
    color: #6b7280;
  }
}

.top-nav .nav-items {
  width: 28%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;
}

.nav-item {
  display: inline-block;
  margin-left: 12px;
}

.icon,
.icon-beli-mudah span {
  display: inline-block;
  vertical-align: middle;
}

.icon {
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 30%;
  background: #1a73e8;
  color: white;
  margin-right: 8px;
}

.text-gray {
  color: #6b7280;
}

.promo {
  color: #dc2626;
}
